.home-bg-con {
  background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .home-bg-con {
    background-image: url(https://assets.ccbp.in/frontend/react-js/home-sm-bg.png);
    background-size: cover;
  }
}
.home-dtls-con {
  width: 60%;
  padding-left: 40px;
  padding-top: 40px;
}
@media screen and (max-width: 576px) {
  .home-dtls-con {
    width: 100%;
    padding: 20px;
  }
}
.home-heading {
  font-family: 'Roboto';
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .home-heading {
    font-size: 28px;
  }
}
.home-para {
  font-family: 'Roboto';
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #f1f5f9;
}
@media screen and (max-width: 576px) {
  .home-para {
    font-size: 15px;
    line-height: 2;

    margin-bottom: 20px;
  }
}

.find-jobs-btn {
  align-self: flex-start;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .find-jobs-btn {
    width: 100px;
    border-radius: 10px;
    height: 35px;
  }
}
