.home-bg-con {
  background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-dtls-con {
  width: 50%;
  padding-left: 40px;
  padding-top: 40px;
}
.home-heading {
  font-family: 'Roboto';
  font-size: 70px;
  color: #ffffff;
}

.home-para {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
}

.find-jobs-btn {
  align-self: flex-start;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
