.job-item-dtls-bg-con {
  background-color: #000000;
  min-height: 90vh;
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .job-item-dtls-bg-con {
    padding: 20px 10px 10px 10px;
  }
}
.job-item-dtls-main-con {
  background-color: #272727;
  border-radius: 10px;
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-main-con {
    padding: 20px;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.job-item-dtls-comp-logo-con {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .job-item-dtls-comp-logo-con {
  }
}

.job-item-dtls-comp-logo {
  width: 70px;
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-comp-logo {
    width: 50px;
    margin-right: 10px;
  }
}
.job-item-dtls-comp-title {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-comp-title {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.job-item-dtls-comp-logo-star-con {
  display: flex;
  align-items: center;
  margin-top: 0;
  height: 30px;
}
.job-item-dtls-comp-logo-star-img {
  font-size: 25px;
  color: #fbbf24;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-comp-logo-star-img {
    font-size: 15px;
  }
}
.job-item-dtls-comp-logo-rating {
  font-family: 'Roboto';
  font-size: 25px;
  margin-left: 5px;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-comp-logo-rating {
    font-size: 15px;
  }
}
.job-item-dtls-location-pkg-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-item-dtls-location-work-con {
  display: flex;
  align-items: center;
}

.job-item-dtls-location-con {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.job-item-dtls-location-icon {
  font-size: 20px;
  color: #ffffff;
  margin-right: 5px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-location-icon {
    font-size: 15px;
  }
}

.job-item-dtls-location {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-location {
    font-size: 13px;
  }
}

.job-item-dtls-emp-type-con {
  display: flex;
  align-items: center;
}

.job-item-dtls-emp-type-icon {
  font-size: 20px;
  color: #ffffff;
  margin-right: 5px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-emp-type-icon {
    font-size: 15px;
  }
}
.job-item-dtls-emp-type {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-emp-type {
    font-size: 13px;
  }
}

.job-item-dtls-pkg-per-annum {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-pkg-per-annum {
    font-size: 15px;
  }
}
.job-item-dtls-hr-line {
  color: #ffffff;
}
.job-item-dtls-desc-con {
  display: flex;
  flex-direction: column;
}
.job-item-dtls-desc-visit-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-item-dtls-desc {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-desc {
    font-size: 15px;
  }
}

.job-item-dtls-visit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #6366f1;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Roboto';
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-visit-btn {
    font-size: 15px;
  }
}
.job-item-dtls-visit-icon {
  margin-left: 5px;
}

.job-item-dtls-desc-para {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 576px) {
  .job-item-dtls-desc-para {
    font-size: 15px;
  }
}

.job-item-dtls-skills-con {
  display: flex;
  flex-direction: column;
}

.job-item-dtls-skills-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 25px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-skills-heading {
    font-size: 15px;
  }
}
.job-item-dtls-skills-ul-con {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.job-item-dtls-skills-li-con {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-skills-li-con {
    width: 50%;
    margin-bottom: 10px;
  }
}

.job-item-dtls-skills-li-img {
  width: 50px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .job-item-dtls-skills-li-img {
    width: 30px;
  }
}
.job-item-dtls-skills-li-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-skills-li-name {
    font-size: 15px;
  }
}
.job-item-dtls-life-con {
  display: flex;
  flex-direction: column;
}

.job-item-dtls-life-heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-life-heading {
    font-size: 15px;
  }
}
.job-item-dtls-life-desc-con {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-life-desc-con {
    flex-direction: column;
  }
}

.job-item-dtls-life-desc-para {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-life-desc-para {
    width: 100%;
    font-size: 15px;
  }
}
.job-item-dtls-life-img {
  width: 30%;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-life-img {
    width: 100%;
  }
}

.job-item-dtls-sim-jobs-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.job-item-dtls-sim-jobs-li {
  width: 40%;
  background-color: #272727;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .job-item-dtls-sim-jobs-li {
    width: 100%;
    margin-right: 0;
    padding: 20px;
  }
}

.job-item-dtls-sim-desc-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .job-item-dtls-sim-desc-heading {
    font-size: 18px;
  }
}

.job-item-dtls-sim-desc-para {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f1f5f9;
  line-height: 1.5;
  margin-top: 5px;
}

@media screen and (max-width: 576px) {
  .job-item-dtls-sim-desc-para {
    font-size: 13px;
  }
}
.failure-view-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.failure-view-img {
  width: 40%;
}

.failure-view-heading {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 30px;
  margin-bottom: 5px;
}
.failure-view-para {
  font-family: 'Roboto';
  color: #cbd5e1;
  font-size: 15px;
  margin-top: 5px;
}

.failure-view-btn {
  color: #ffffff;
  width: 100px;
  font-family: 'Roboto';
  cursor: pointer;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #6366f1;
}
