.login-bg-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}
.login-con {
  width: 400px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .login-con {
    width: 80%;
    padding: 25px;
  }
}

.login-logo-img {
  width: 100px;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .login-logo-img {
    margin-bottom: 20px;
  }
}
.label-input-con {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .label-input-con {
    margin-top: 10px;
  }
}
.login-label {
  align-self: flex-start;
  font-family: 'Roboto';
  font-size: 12px;
  color: #f8fafc;
}
.login-inputs {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 10px;
  background-color: #272727;
  border: 1px solid #64748b;
  margin-bottom: 0;
}

.login-btn {
  height: 35px;
  background-color: #4f46e5;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.err-msg {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ff0b37;
  margin-top: 5px;
  align-self: flex-start;
}
